body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

#teamInfo {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

strong {
  font-size: 1.2em;
}

.team-logo {
  max-width: 100px; /* Adjust the size of the team logos */
}

.car-image {
  max-width: 200px; /* Adjust the size of the car images */
  margin-top: 10px;
}
