.loader {
  display: block;
  border: 5px solid #f0f0f0;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.team-info{
  margin-top: 30px;
  margin-left: auto;
}
.numberlogo{
  max-height: 40px;
  
}
.countryflag{
  max-height: 20px;
  margin-left: 5px
}
.helmetimage{
  max-height: 150px;
}
/* driversitem */
.textdriver{
   font-size: 26px;
}
.driveritemimage{
  width: 100%";
}

/* home */

.homedriverimage{
  max-height: 400px;
  object-fit: cover;
}

h1 {
  font-size: calc(1.5rem + 3vw);
}

