.loader {
  display: block;
  border: 5px solid #f0f0f0;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.team-info{
  margin-top: 30px;
  margin-left: auto;
}
.numberlogo{
  max-height: 40px;
  
}
.countryflag{
  max-height: 20px;
  margin-left: 5px
}
.driveritemtext{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.helmetimage{
  max-height: 150px;
}
/* driversitem */
.textdriver{
   font-size: 26px;
}
.driveritemimage{
  width: 100%";
}

/* home */

.homedriverimage{
  max-height: 400px;
  object-fit: cover;
}
.nametext{
  font-size: 40px;
}
@media (min-width: 1200px)  { 

  .numberlogo{
    max-height: 40px;
    
  }
  .team-info{
    margin-top: 30px;
    margin-left: auto;
  }
  
}

@media (min-width: 992px) and (max-width: 1200px) { 
  #abouttext{
    font-size: 23px;
  }

  #aboutVtext{
    font-size: 23px;
  
  }
  #abouttext2{
    font-size: 26px;
  }

  #aboutVtext2{
    font-size: 23px;
  }

}

@media (min-width: 767px) and (max-width: 992px) { 
  #abouttext, #aboutVtext{
    font-size: 25px;
  }

  #abouttext2, #aboutVtext2{
    font-size: 26px;
  }
  .teamsdrivername{
    font-size: 17px;
}



@media (min-width: 576px) and (max-width: 767px) { 
  .text-black{
    font-size:10px;
  }
  .teamsdrivername{
    font-size:25px;
  }
 }


@media (min-width: 576px)  { 
  

 }
}